.prize-image {
    max-height: 120px;
    max-width: 200px;
    padding: 5px 0px;
    width: auto !important;
}

@media (max-width: 768px) {
    .prize-image {
        max-width: 140px;
    }
}

.text-red {
    color: red;
}

.text-green {
    color: green;
}

.text-bold {
    font-weight: bold;
}

.text-strike {
    text-decoration: line-through;
}

.reviews {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    -moz-box-shadow: 0px 0px 2px 2px #d2d2d2;
    -webkit-box-shadow: 0px 0px 2px 2px #d2d2d2;
    box-shadow: 0px 0px 2px 2px #d2d2d2;
    padding: 0px;
    border-radius: 3px;
}

hr {
    opacity: 0.2;
}

.reviews .name {
    font-weight: bold;
    color: #333333;
}

.reviews .text {
    padding-top: 5px;
    color: #555555;
    font-style: italic;
}

.reviews .date {
    padding-top: 5px;
    color: #888a89;
    font-size: 10px;
}

.reviews table {
    padding-top: 10px;
    font-size: small;
    padding: 0px;
}

.roundimg {
    border-radius: 50%;
    width: 50px;
}

.reviews h2 {
    font-size: 1.2em;
    font-weight: 300;
    padding: 20px 0px 5px;
}

.reviews hr {
    opacity: 0;
}

.commentpad {
    padding-left: 10px;
}

.prize {
    width: 100%;
}

.pbox {
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    -moz-box-shadow: 0px 0px 2px 2px #d2d2d2;
    -webkit-box-shadow: 0px 0px 2px 2px #d2d2d2;
    box-shadow: 0px 0px 2px 2px #d2d2d2;
    padding: 10px 6px;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.pbox img {
    width: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pbox h2 {
    display: block;
    font-size: xlarge;
    font-weight: 300;
    margin: 6px 6px 0px 6px;
    text-align: left;
}

.pbox p {
    display: block;
    font-size: small;
    margin: 6px 6px 0px 6px;
    text-align: left;
}

.boxwrapper {
    width: 100%;
}

.prizebtn {
    border: 0px solid #334c83;
    padding: 6px 0 6px 0;
    width: 96%;
    display: inline-block;
    margin: 8px 4px 4px 4px;
    text-align: center;
    font-size: 0.9em;
    font-weight: 300;
    color: #fff;
    background: #3b5998;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #62a6fb;
}

.prize h3 {
    font-size: 1.5em;
    font-weight: 300;
    padding: 5px 0px 5px;
    text-align: center;
}

.prize h2 {
    font-size: 1.2em;
    font-weight: 300;
    text-align: left;
}

.validate {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    -moz-box-shadow: 0px 0px 2px 2px #d2d2d2;
    -webkit-box-shadow: 0px 0px 2px 2px #d2d2d2;
    box-shadow: 0px 0px 2px 2px #d2d2d2;
    padding: 0px;
    border-radius: 3px;
}

#szlider {
    width: 100%;
    height: 4px;
    overflow: hidden;
    background: #dadada;
}

#szliderbar {
    width: 0%;
    height: 4px;
    background: #62a6fb;
}

#szazalek {
    color: #858585;
    font-size: small;
}

.form_questions {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    -moz-box-shadow: 0px 0px 2px 2px #d2d2d2;
    -webkit-box-shadow: 0px 0px 2px 2px #d2d2d2;
    box-shadow: 0px 0px 2px 2px #d2d2d2;
    padding: 10px 0px 30px 0px;
    border-radius: 3px;
}

.answer {
    border: 0px solid #334c83;
    padding: 10px 0 10px 0;
    width: 80%;
    display: inline-block;
    margin: 5px 5px 5px 5px;
    text-align: center;
    font-size: medium;
    font-weight: 300;
    color: #fff;
    background: #3b5998;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #62a6fb;
    cursor: pointer;
}

.form_questions h3 {
    text-align: center;
    color: #000;
    font-size: large;
    padding: 5px;
}

.question {
    text-align: center;
    padding-top: 20px;
}

.h4 {
    font-size: medium;
    font-weight: normal;
    color: #ff9903;
}

.select2 {
    color: #737373;
    font-size: small;
    font-weight: 300;
    padding: 8px 0px 4px 0px;
}

.contestwrap {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    -moz-box-shadow: 0px 0px 2px 2px #d2d2d2;
    -webkit-box-shadow: 0px 0px 2px 2px #d2d2d2;
    box-shadow: 0px 0px 2px 2px #d2d2d2;
    padding: 10px 0px 4px 0px;
    border-radius: 3px;
}

.toptext {
    color: #212121;
    font-size: small;
}

.contestwrap table {
    border-collapse: collapse;
}

.contestwrap p {
    color: #776161;
    font-size: small;
}

.subheader {
    background-color: #ffffff;
    width: 100%;
    border-bottom: 1px solid #cbccd0;
}

.subheader table,
tr,
td {
    border-collapse: collapse;
    padding: 8px 0px 4px 0px;
}

.subheader td {
    valign: middle;
}

.subheader img {
}

.spacer {
    height: 20px;
}

.header {
    background-color: #f1f1f1;
    width: 100%;
    padding: 6px 0;
}

.header p {
    color: #fff;
    opacity: 0.5;
    font-size: medium;
    line-height: 0;
}

.header table {
    border-collapse: collapse;
}

.wrapper {
    max-width: 800px;
    width: 96%;
    margin: 0 auto;
}

html {
    font-family: sans-serif;
    font-color: #000;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
    background: #eeeeee;
    min-width: 320px;
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a,
ul,
ol,
li {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #4485f6;
}

h3 {
    color: #212121;
}

p {
    color: #737373;
}

#q2,
#q3,
#v1b,
#v1c,
#v2b,
#v2c,
#v3c,
#v3b,
#v4s,
#vfinal,
.validate,
.prize {
    display: none;
}
